@charset "UTF-8";
:root {
  --serif-fonts: "IBM Plex Serif", serif;
  --monospace-fonts: "Iosevka", monospace;
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/Iosevka-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: normal;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/Iosevka-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka';
	font-display: swap;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/Iosevka-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('fonts/IBMPlexSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('fonts/IBMPlexSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('fonts/IBMPlexSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('fonts/IBMPlexSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
